<%= form_for [@logbook, @flight] do |f| %>
  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :date %>
      <%= f.date_field :date, :class => "form-control", :required => true%>
    </div>
      <div class="form-group col-md-6">
        <%= f.label :aircraft, "Wing/Paramotor/Glider" %>
        <%= f.text_field :aircraft, :class => "form-control" %>
      </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :location  %>
      <%= f.text_field :location, :class => "form-control"%>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :launch_type %>
      <%= f.text_field :launch_type, :class => "form-control"%>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :flight_time %>
      <%= f.number_field :flight_time, step: :any, :class => "form-control", :required => true%>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <%= f.label :notes %>
      <%= f.text_area :notes, :class => "form-control"%>
    </div>
  </div>

  <%= f.submit :class => "btn btn-primary" %>
<% end %>
