<%= form_for [@logbook, @flight] do |f| %>
<!-- Row and column divs format the form -->
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :date %>
    <%= f.date_field :date, :class => "form-control", :required => true %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :aircraft %>
    <%= f.text_field :aircraft, :class => "form-control" %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :registration %>
    <%= f.text_field :registration, :class => "form-control" %>
  </div>
</div>

<div class="row">
  <div class="form-group col md-12">
    <%= f.label :notes %>
    <%= f.text_area :notes, :class => "form-control" %>
  </div>
</div>
<hr class="mb-4">
<div class="row  text-center">
    <div class="col md-4 form-group form-check">
      <%= f.check_box :multi, :class => "form-check-input" %>
      <%= f.label :multi, "Flown in a multi-engine airplane", :class => "form-check-label" %>
    </div>
    <div class="col md-4 form-group form-check">
      <%= f.check_box :command, :class => "form-check-input" %>
      <%= f.label :command, "Flown as Pilot In Command", :class => "form-check-label" %>
    </div>
    <div class="col md-4 ">
      <%= f.check_box :multi, :class => "form-check-input" %>
      <%= f.label :night, "Flown at night", :class => "form-check-label" %>
    </div>
</div>
<hr class="mb-4">

<div class="row">
  <div class="form-group col md-6">
    <%= f.label :flight_time %>
    <%= f.number_field :flight_time, step: :any, :class => "form-control", :required => true %>
  </div>
  <div class="form-group col md-6">
    <%= f.label :instrument_time %>
    <%= f.number_field :instrument_time, step: :any, :class => "form-control"%>
  </div>
</div>

  <%= f.submit :class => "btn btn-primary" %>
<% end %>
