<div class="container">
  <h2>Create an Account</h2>

  <%# create list of signup errors if present %>
  <% if @user.errors.any? %>
    <ul class="alert alert-warning" role="alert">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%# create account form %>
  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :class => "form-control" %>
    </div>

    <%= f.submit "Create", :class => "btn btn-primary"  %>

  <% end %>
</div>
