<tr>
  <td><%= flight.date %></td>
  <td><%= flight.aircraft %></td>
  <td><%= flight.location %></td>
  <td><%= flight.launch_type %></td>
  <td><%= flight.notes %></td>
  <td><%= flight.flight_time%></td>
  <td><%= flight.distance %></td>
</tr>
