<tr>
  <td><%= flight.date %></td>
  <td><%= flight.aircraft %></td>
  <td><%= flight.registration %></td>
  <td><%= flight.notes %></td>
  <td><%= flight.flight_time if !flight.multi && !flight.command && !flight.night %></td>
  <td><%= flight.flight_time if !flight.multi && !flight.command && flight.night %></td>
  <td><%= flight.flight_time if !flight.multi && flight.command && !flight.night %></td>
  <td><%= flight.flight_time if !flight.multi && flight.command && flight.night %></td>
  <td><%= flight.flight_time if flight.multi && !flight.command && !flight.night %></td>
  <td><%= flight.flight_time if flight.multi && !flight.command && flight.night %></td>
  <td><%= flight.flight_time if flight.multi && flight.command && !flight.night %></td>
  <td><%= flight.flight_time if flight.multi && flight.command && flight.night %></td>
  <td><%= flight.instrument_time %></td>
  <td>
    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ...
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to 'Delete', logbook_flight_path(@logbook.id, flight.id), :method  => 'delete', :class => "dropdown-item" %>
    <%= link_to 'Edit', edit_logbook_flight_path(@logbook.id, flight.id), :class => "dropdown-item"  %>
  </div>
  </td>
</tr>
