<tr>
  <td><%= flight.date %></td>
  <td><%= flight.aircraft %></td>
  <td><%= flight.registration %></td>
  <td><%= flight.notes %></td>
  <td><%= flight.flight_time if !flight.multi && !flight.command && !flight.night %></td>
  <td><%= flight.flight_time if !flight.multi && !flight.command && flight.night %></td>
  <td><%= flight.flight_time if !flight.multi && flight.command && !flight.night %></td>
  <td><%= flight.flight_time if !flight.multi && flight.command && flight.night %></td>
  <td><%= flight.flight_time if flight.multi && !flight.command && !flight.night %></td>
  <td><%= flight.flight_time if flight.multi && !flight.command && flight.night %></td>
  <td><%= flight.flight_time if flight.multi && flight.command && !flight.night %></td>
  <td><%= flight.flight_time if flight.multi && flight.command && flight.night %></td>
  <td><%= flight.instrument_time %></td>
  <td><%= link_to 'X', logbook_flight_path(@logbook.id, flight.id), :method  => 'delete' %></td>
  <td><%= link_to 'Edit', edit_logbook_flight_path(@logbook.id, flight.id)  %> </td>
</tr>
