<tr>
  <td><%= flight.date %></td>
  <td><%= flight.aircraft %></td>
  <td><%= flight.registration %></td>
  <td><%= flight.location %></td>
  <td><%= flight.launch_type %></td>
  <td><%= flight.notes %></td>
  <td><%= flight.flight_time if !flight.command %></td>
  <td><%= flight.flight_time if flight.command %></td>
  <td><%= link_to 'X', logbook_flight_path(@logbook.id, flight.id), :method  => 'delete' %></td>
  <td><%= link_to 'Edit', edit_logbook_flight_path(@logbook.id, flight.id)  %> </td>
</tr>
