<tr>
  <td><%= flight.date %></td>
  <td><%= flight.serial %></td>
  <td><%= flight.aircraft %></td>
  <td><%= flight.location %></td>
  <td><%= flight.notes %></td>
  <td><%= flight.freefall%>s</td>
  <td><%= flight.launch_altitude %>ft</td>
</tr>
