<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <div><h2><%= @logbook.name %></h2></div>
    <div><%= button_to "New Flight", new_logbook_flight_path(@logbook.id), :method => 'get',  :class => "btn btn-primary btn-sm" %></div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-sm text-center">
      <!-- Display logbook format for each type -->
      <% if @logbook.aviation_type == 'General Aviation' %>
        <%= render partial: "general_aviation" %>
      <% elsif @logbook.aviation_type == 'Gliding' %>
        <%= render partial: "gliding" %>
      <% elsif @logbook.aviation_type == 'Free Flight' %>
        <%= render partial: "free_flight" %>
      <% elsif @logbook.aviation_type == 'Skydiving' %>
        <%= render partial: "skydiving" %>
      <% end %>
    </table>
  </div>
</div>
