<!DOCTYPE html>
<html>
  <head>
    <title>Flog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>

      <%# if logged in, show link to log out page  %>
      <% if @current_user.present? %>
      <%= link_to 'My Logbooks', logbooks_path %>
        <%= link_to "Log out of #{@current_user.email}", login_path, :method => 'delete' %>
        <%# if logged out show links to create acc/log in%>
      <% else %>
        <%= link_to 'Home', root_path %>
        <%= link_to 'Create Account', new_user_path %>
        <%= link_to 'Log In', login_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
